<div id="content_broadcast">
    <div id="slider" class="case_box">
        <ul>
            <li class="case_1">
                <a href="/main/hot"><img src="/images/44.jpg"></a>
            </li>
            <li class="case_2">
                <a href="/main/new"><img src="/images/class1.jpg"></a>
            </li>
            <li class="case_3">
                <a href="/main/hot"><img src="/images/class2.jpg"></a>
            </li>
            <li class="case_4">
                <a href="/main/new"><img src="/images/class3.jpg"></a>
            </li>
            <li class="case_5">
                <a href="/main/hot"><img src="/images/class4.jpg"></a>
            </li>
        </ul>
    </div>
</div>