<div id="head_nav">
    <div class="navwrap">
        <div id="nav">
            <div class="navbar clearfix">
                <a class="current" href="/">首页</a>
                <a href="/goodsInfo/sounds">声像电器</a>
                <a href="/goodsInfo/electheater">电暖器具</a>
                <a href="/goodsInfo/airCond">空调器</a>
                <a href="/auction">商品竞拍</a>
                <a href="/personal">个人中心</a>
                <a href="/manger">管理员登录</a>
            </div>
            <div class="pros subpage">
                <h2>商品分类</h2>
                <ul class="prosul clearfix" id="proinfo">
                    <li class="food">
                        <i>&gt;</i>
                        <a class="ti" href="/goodsInfo/sounds">声像电器</a>
                        <a class="hot" href="javascript:alert('暂未开放！试试搜索')">电视机</a>

                        <div class="prosmore hide">
                            <span><em><a href="/goodsInfo/sounds">全部(117)</a></em></span>
                            <span><em class="morehot"><a class="morehot" href="javascript:alert('暂未开放！试试搜索')">收音机(17)</a></em></span>
                            <span><em class="morehot"><a class="morehot" href="javascript:alert('暂未开放！试试搜索')">录音机(16)</a></em></span>
                            <span><em><a href="javascript:alert('暂未开放！试试搜索')">录像机(9)</a></em></span>
                            <span><em><a href="javascript:alert('暂未开放！试试搜索')">摄像机(37)</a></em></span>
                            <span><em><a href="javascript:alert('暂未开放！试试搜索')">组合音响(5)</a></em></span>
                            <span><em><a href="javascript:alert('暂未开放！试试搜索')">其他(7)</a></em></span>
                        </div>
                    </li>
                    <li class="enjoy">
                        <i>&gt;</i>
                        <a class="ti" href="/goodsInfo/kitchen">厨房</a>
                        <a class="hot" href="#">电灶</a>
                        <div class="prosmore hide">
                            <span><em><a href="/goodsInfo/kitchen">全部(663)</a></em></span>
                            <span><em class="morehot"><a class="morehot" href="#">电灶(18)</a></em></span>
                            <span><em class="morehot"><a class="morehot" href="#">微波炉(8)</a></em></span>
                            <span><em><a href="javascript:alert('暂未开放！试试搜索')">电磁灶(95)</a></em></span>
                            <span><em><a href="#">电饭锅(48)</a></em></span>
                            <span><em><a href="javascript:alert('暂未开放！试试搜索')">洗碟机(13)</a></em></span>
                            <span><em class="morehot"><a class="morehot" href="#">电烤箱(8)</a></em></span>
                            <span><em><a href="#">电热水器(11)</a></em></span>
                            <span><em><a href="javascript:alert('暂未开放！试试搜索')">其他(29)</a></em></span>
                            <span><em><a href="#">食物加工机(2)</a></em></span>
                        </div>
                    </li>
                    <li class="travel">
                        <i>&gt;</i>
                        <a class="ti" href="/goodsInfo/airCond">空调器</a>
                        <a class="hot" href="javascript:alert('暂未开放！试试搜索')">电扇</a>
                        <a href="javascript:alert('暂未开放！试试搜索')">换气扇</a>
                        <div class="prosmore hide">
                            <span><em><a href="/goodsInfo/airCond">全部(13602)</a></em></span>
                            <span><em class="morehot"><a class="morehot" href="#">空调器(9044)</a></em></span>
                            <span><em><a href="javascript:alert('暂未开放！试试搜索')">电扇(1775)</a></em></span>
                            <span><em><a href="#">换气扇(935)</a></em></span>
                            <span><em><a href="#">其他(1848)</a></em></span>
                        </div>
                    </li>
                    <li class="life">
                        <i>&gt;</i>
                        <a class="ti" href="/goodsInfo/healthCare">保健电器</a>

                        <a href="javascript:alert('暂未开放！试试搜索')">电吹风</a>
                        <div class="prosmore hide">
                            <span><em><a href="/goodsInfo/healthCare">全部(333)</a></em></span>
                            <span><em><a href="javascript:alert('暂未开放！试试搜索')">剃须刀(9)</a></em></span>
                            <span><em class="morehot"><a class="morehot" href="#">整发器(212)</a></em></span>
                            <span><em><a href="#">超声波洗面器(1)</a></em></span>
                            <span><em><a href="#">电动按摩器(3)</a></em></span>
                            <span><em><a href="#">负离子发生器(91)</a></em></span>
                            <span><em><a href="#">其他(8)</a></em></span>
                        </div>
                    </li>
                    <li class="women">
                        <i>&gt;</i>
                        <a class="ti" href="/goodsInfo/electheater">电暖器具</a>
                        <a href="javascript:alert('暂未开放！试试搜索')">电热服</a>
                        <div class="prosmore hide">
                            <span><em><a href="/goodsInfo/electheater">全部(14)</a></em></span>
                            <span><em class="morehot"><a class="morehot" href="#">电热被(7)</a></em></span>
                            <span><em><a href="javascript:alert('暂未开放！试试搜索')">电热服(3)</a></em></span>
                            <span><em><a href="#">电热被(30)</a></em></span>
                            <span><em><a href="#">空间加热器(4)</a></em></span>
                        </div>
                    </li>
                    <li class="goods bd-solid">
                        <i>&gt;</i>
                        <a class="ti" href="/goodsInfo/cleaning">清洁用具</a>
                        <a href="javascript:alert('暂未开放！试试搜索')">洗衣机</a>
                        <div class="prosmore hide">
                            <span><em><a href="/goodsInfo/cleaning">全部(112343)</a> </em></span>
                            <span><em class="morehot"><a class="morehot" href="#">洗衣机(32747)</a> </em></span>
                            <span><em><a href="#">洗衣机(14441)</a> </em></span>
                            <span><em><a href="#">干衣机(10116)</a> </em></span>
                            <span><em><a href="#">电熨斗(12707)</a> </em></span>
                            <span><em><a href="#">吸尘器(7621)</a> </em></span>
                            <span><em><a href="#">地板打蜡机(3775)</a> </em></span>
                            <span><em><a href="#">其他(4931)</a> </em></span>
                        </div>
                    </li>
                    <li class="hotareas nochild last">
                        <h2>热门搜索</h2>
                        <br />
                        <a class="mhs" href="#">冷饮机</a>
                        <a class="mhs" href="#">空调器</a>
                        <a class="mhs" href="#">吸尘器</a>
                        <a class="mhs" href="#">电烤箱</a>
                        <a class="mhs" href="#">电热毯</a>
                        <a class="mhs" href="#">电吹风</a>
                        <a class="mhs" href="#">电视机</a>
                        <a class="mhs" href="#">摄像机</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>