
<div id="content_login">
    <%- include('notification')%>
    <form method="post">
        用户名：<input name="name" type="text" placeholder="用户名" /><br/>
        密 &nbsp; 码：<input name="password" type="password" placeholder="密码" /><br />
        <input type="submit" value="登录" class="login aBtn"><br />
        没账号？<a class="regis" href="/signup">去注册>></a>
    </form>
</div>