<div id="master_footer">
    <p>copyright@bobo.com</p>
    <p>email:bobolity@163.com</p>
</div>
</div>
<script type="text/javascript">
    $(".displ ul li").hover(function(){
        $(this).find(".txt").stop().animate({height:"100px"},400);
        //$(this).find(".txt h3").stop().animate({paddingTop:"60px"},400);
    },function(){
        $(this).find(".txt").stop().animate({height:"45px"},400);
        //$(this).find(".txt h3").stop().animate({paddingTop:"0px"},400);
    })
</script>
<script src="/js/nav.js"></script>
<script src="/js/broadcast.js"></script>
</body>
</html>